@use "acceuil";


*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

button {
    font-family: "Montserrat", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logoHeader {
    width: 100px;
    height: 50px;
    object-fit: fill;
}